.title {
    text-align: center;
    font-size: 28px;
    color: #333;
    font-weight: 600;
    position: relative;
}
.title::after {
    bottom: -1px;
    content: '';
    height: 2px;
    right:auto;
    left: auto;
    position: absolute;
    width: 60px;
    background: #f2184f;
}

.video {
    width: 100%;
    height: auto;
}

.boxes {
    display: flex;
    align-items: center;
}

.box2 video {
    width: 100%;
    height: auto;
    border: 20px;
    border-color: black;
}
