.breadcrumb {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: url('https://merit.uz/images/bg2.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-repeat: repeat-y;
    position: relative;
    text-align: center;
}

.breadcrumb::before {
    background: rgba(17, 17, 17, 0.5) none repeat scroll 0 0;
    content: ' ';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.breadcrumb h2 {
    text-align: center;
    margin-top: 0;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}
