.coursesSlider h2 {
    font-size: 28px;
    font-weight: 500;
    position: relative;
    margin: 0 15px 40px;
    padding-bottom: 10px;
}

.coursesSlider h2::after {
    background: #f2184f;
    bottom: -1px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
}

.coursesSlider h2 span {
    color: #f2184f;
}

.content {
    padding: 0 10px 20px;
    position: relative;
}

.title {
    padding: 12px 20px 20px;
    border: 1px solid #eee;
    margin-top: -7px;
}

.newstitle {
    border: 1px solid #eee;
    margin-top: -7px;
}

.newssomeTitle {
    padding: 0 15px;
    margin-bottom: 10px;
}

.name {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #333;
    position: relative;
}

.techname {
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #333;
    position: relative;
    font-size: 18px;
}

.newsname {
    padding: 0 15px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
}

.newsname a {
    color: #333;
}

.newsname a:hover {
    color: #595959;
}

.name::after,
.techname::after {
    bottom: -1px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 50px;
    background: #f2184f;
}

.price {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    right: 10px;
    padding: 5px 10px;
    position: absolute;
    top: -1px;
    background: rgba(32, 44, 69, 0.7);
    border-left: 3px solid #f2184f;
}

.date {
    padding: 0 15px;
    margin: 5px 0;
    font-size: 13px;
    font-style: italic;
}

.someTitle {
    margin-bottom: 10px;
}

.link {
    color: #fff;
    background-color: #202c45;
    border-color: #202c45;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
}

.link:hover {
    color: #fff;
    background-color: #101622;
    border-color: #0d111b;
}

.newslink {
    color: #fff;
    width: 100%;
    text-align: center;
    background-color: #202c45;
    border-color: #202c45;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 3px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    text-transform: uppercase;
    transition: 0.3s;
}

.newslink:hover {
    background-color: #f2184f;
    border-color: #f2184f;
}

@media screen and (max-width: 970px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .title {
        padding-top: 0;
    }
}
