html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.toggleMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.exit {
    z-index: 9999;
    position: fixed;
    right: 20px;
    top: 20px;
    display: none;
}

.exit.close {
    display: none;
}

.slick-next {
    right: 40px !important;
}

.slick-prev {
    left: 10px !important;
}

.slick-prev:before,
.slick-next:before {
    color: #f2184f !important;
    font-size: 50px !important;
    font-weight: 900;
}

.slick-prev:hover::before,
.slick-next:hover::before {
    color: #fff !important;
}

.main .slick-prev,
.main .slick-next {
    display: none !important;
}

@media screen and (max-width: 970px) {
    .toggleMenu.active {
        display: none;
    }

    .toggleMenu {
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100vh;
        right: 0;
        bottom: 0;
        left: 0;
        top: 0;
        background-color: rgba(32, 44, 69, 0.9);
        z-index: 999;
    }
    .exit {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .slick-prev:before,
    .slick-next:before {
        font-size: 40px !important;
    }
    .slick-next {
        right: 30px !important;
    }
    .slick-prev,
    .slick-next {
        top: 40% !important;
    }
}
