.title {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    line-height: 1.42857143;
    color: #333;
    margin-top: 60px;
}

.title::after {
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #F2184F;
    bottom: -1px;
    content: "";
    height: 2px;
    position: absolute;
    width: 50px;
}

.themaTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text {
    margin-bottom: 20px;
    line-height: 1.7;
    color: #666;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.link {
    color: #fff;
    margin-top: 15px;
    background-color: #202C45;
    border-color: #202C45;
    margin-top: 10px !important;
    font-size: 14px;
    padding: 10px 26px
}

.boxes {
    display: flex;
    align-items: center;
}

.box1 {
    width: 50%;
}

.box2 {
    width: 50%;
}

.video {
    height: auto;
    width: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 15%);
    border: 10px solid #fff;
}